<%- include('../includes/head',{pageTitle:'signup'}) %>
</head>
<body>
  <%- include('../includes/header')%> 
  <main>
    <h1>creat new account</h1>
    <form action="" method="">

        
    </form>
  </main> 

<%- include('../includes/footer') %>