<navbar class="bg-emerald-700">
    <ol class="bg-emerald-700  sm:flex sm:flex-row justify-center py-4">
        <li><a href="#" class="ml-8 text-center text-zinc-50 font-thin hover:bg-slate-200 hover:text-stone-900 p-3 ">Home</a></li>
        <li><a href="#"  class="ml-8 text-center text-zinc-50 font-thin hover:bg-slate-200 hover:text-stone-900 p-3 ">Produds</a></li>
        <li><a href="#" class="ml-8 text-center text-zinc-50 font-thin hover:bg-slate-200 hover:text-stone-900 p-3 ">About</a></li>
        <li><a href="#" class="ml-8 text-center text-zinc-50 font-thin hover:bg-slate-200 hover:text-stone-900 p-3 ">contact</a></li>
    </ol>
    
</navbar>